.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  background: #003cff80 !important;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
  margin-left: -50px !important;
}

.publications {
  margin-top: 114px;
  min-height: 588px;
}

.publications__heading {
  font-weight: 600;
  font-size: 35px;
  line-height: 150%;
}

.publications__first-letter {
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  color: $color-tree-poppy;
}

.publications__gallery {
  margin-top: 71px;
  display: flex;
  align-items: center;
}

button.publications__slider-left-arrow {
  border: none;
  background-color: $color-white;
  cursor: pointer;
}

.publications__arrow-left {
  margin-top: -37px;
}

.publications__slider-pad {
  width: 1100px;
  max-width: 100%;
  margin-left: 19px;
}

.publications__slider-left-arrow {
  align-self: flex-start;
  margin-top: 125px;
}
.publications__slider-left-arrow::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 23px;
  background: url(/src/icons/last_publications_left_arrow.svg) no-repeat;
}

.publications__slider-right-arrow {
  align-self: flex-start;
  margin-top: 125px;
  margin-left: 20px;
}

.publications__slider-right-arrow::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 23px;
  background: url(/src/icons/last_publications_right_arrow.svg) no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .publications {
    margin-top: 59px;
  }

  .publications__slider-pad {
    width: auto;
    margin-left: 0px;
  }

  .publications__first-letter {
    font-size: 20px;
  }

  .publications__heading {
    font-size: 20px;
    margin-left: 18px;
  }

  .publications--mobile-hide {
    display: none;
  }
}
