.advantages
    .content-wrapper.advantages__body
        .advantages__column-1
            .advantages__text.advantages__text_1 Осуществляемые компанией «Экми-Мебель» постоянные инвестиции в сертификацию своей продукции, убедительно подтверждают лидерство компании на украинском рынке высококачественной мягкой мебели.
        .advantages__column-2
            .advantages__text.advantages__text_2 Фабрика «Экми-мебель» сертифицирована по системе менеджмента качества ISO 9001:2000 на соответствие международным стандартам, представительством «Бюро Веритас» в Украине.
        .advantages__column-3
            .advantages__text.advantages__text_3 Компания «Экми-Мебель» первой из украинских производителей мягкой мебели обеспечила свою мебель полноценной  гарантией и первой обоснованно заявила о лучшем качестве производимой мебели.