section.life-content
    h1.visually-hidden Экми-Мебель
    .life-content__background
    .content-wrapper.life-content__wrapper
            .life-content__text-wrapper
                h2.life-content__slogan #[span.life-content__first-letter л]учшая жизнь,   созданная для вас!
                button.life-content__button.lets-start-button.lets-start-button--hover-scorpion перейти в каталог                               
            .life-content__img-wrapper
                p.life-content__founded Основано в 1993 году
                img.life-content__img(src="./images/slider_pic_2.png", alt="image of sofa")
                .life-content__slider-placeholder
                    .life-content__circle 
                    .life-content__circle.life-content__circle--null 
                    .life-content__circle.life-content__circle--null 