section.life-content
    h1.visually-hidden Экми-Мебель
    .life-content__background
    .content-wrapper.life-content__wrapper
            .life-content__text-wrapper
                h2.life-content__slogan #[span.life-content__first-letter л]учшая жизнь, <br>  созданная для вас!
                button.life-content__button.lets-start-button.lets-start-button--hover-scorpion.life-content--mobile-hide перейти в каталог                               
            .life-content__img-wrapper
                p.life-content__founded Основано в 1993 году
                .life-content__slider
                    +slider('topper-slider')
                button.life-content__button.lets-start-button.lets-start-button--hover-scorpion.lets-start-button--mobile.life-content--mobile-show перейти в каталог