.partners {
  min-height: 787px;
}

.partners__heading {
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
}

.partners__first-letter {
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  color: $color-tree-poppy;
}

.partners__bg {
  margin-top: 56px;
  min-height: 536px;
  background: url(../../backgrounds/partners_bg.jpg);
  transform: translateY(-20px);
}

.partners__body-wrapper {
  display: flex;
  align-items: center;
}

.partners__text-wrapper {
  margin-top: 65px;
}

.partners__subheader {
  font-size: 20px;
  line-height: 135%;
  color: $color-white;
}

.partners__p {
  margin-top: 25px;
  max-width: 470px;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
  color: $color-white;
}

.partners__img {
  margin-top: 64px;
  margin-left: 30px;
}

.partners__bottom {
  margin-top: 61px;
}

.partners__images {
  display: flex;
  column-gap: 75px;
}
