header.header
    .content-wrapper.header-content
        ul.header-content__list
            li.header-content__item
                a.header-content__link(href="#") 
            li.header-content__item
                a.header-content__link(href="#") 
            li.header-content__item
                a.header-content__link(href="#") 
            li.header-content__item
                a.header-content__link(href="#")
                    img(src="#", alt="")
            li.header-content__item
                a.header-content__link(href="#") 
        .header-content__number Whereas recognition of the inherent dignity
        label(for="language-select") 
        select#language-select.header-content__language-dropdown(name="language")
            option(value="RU") RU
            option(value="UA") EU
            option(value="EN") EN