@import "./../../../../styles/utility/variables.scss";
@import "./life-content.scss";
@import "./../../../../styles/lets-start-button.scss";

.life{
        position:relative;
        min-height: 745px;

}

.life__background{
    
    position:absolute;
    min-height: 590px;
    width: 100%;
    background-color:$color-rodeo-dust;

    z-index: -1;
}