.partners
    .partners__header
            .content-wrapper
                h2.partners__heading #[span.partners__first-letter Н]аши партнеры
    .partners__bg
            .content-wrapper
                .partners__body-wrapper
                    .partners__text-wrapper
                        .partners__subheader Компании сотрудничают с нами по всему миру
                        .partners__p На данный момент дилерская сеть фабрики «Экми-Мебель» насчитывает более 30 салонов по всей Украине. Сейчас мы заинтересованы в расширении сети и предлагаем выгодные условия для сотрудничества.<br><br> Основным преимуществом фабрики является изготовление любого индивидуального изделия, мягкой мебели и аксессуаров из наших основных коллекций. Также присутствует линейка оригинальных интерьерных корпусных изделий.
                    img.partners__img(src="./images/partner_pic.jpg", alt="")
    .partners__bottom
        .content-wrapper
            .partners__images
                .partners__vogue-img
                    img(src="./icons/vogue__logo.png", alt="")
                .partners__apple-img
                    img(src="./icons/apple__logo.png", alt="")
                .partners__zara-img
                    img(src="./icons/zara__logo.png", alt="")
                .partners__samsung-img
                    img(src="./icons/samsung__logo.png", alt="")