.advantages{
    min-height: 545px;
}

.advantages__body{
    margin-top: 160px;
    display: flex;
}



.advantages__text{
    position: relative;

    line-height: 127.5%;
    letter-spacing: 0.05em;
}

.advantages__text_1::before{
    position:relative;
    left: 29px;
    top: 88px;

    content: '1';
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 176px;
    line-height: 111.5%;
    color:rgba(90, 90, 90, 0.1);
}

.advantages__text_2::before{
    content: '2';
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 176px;
    line-height: 111.5%;
    color:rgba(90, 90, 90, 0.1);
}

.advantages__text_3::before{
    content: '3';
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 176px;
    line-height: 111.5%;
    color:rgba(90, 90, 90, 0.1);
}