.advantages{
    min-height: 545px;
}

.advantages__body{
    margin-top: 180px;
    display: flex;
    column-gap: 15px;
}



.advantages__text{
    position: relative;

    line-height: 127.5%;
    letter-spacing: 0.05em;
}

.advantages__column-1{
    margin-left: 37px;
}

.advantages__text_1{
    width: 278px;
}

.advantages__text_1::before{
    position:absolute;
    top: -55px;
    left: -35px;

    content: '1';
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 176px;
    line-height: 111.5%;
    color:rgba(90, 90, 90, 0.1);
}

.advantages__column-2{
    margin-left: 131px;
}

.advantages__text_2{
    width: 279px;
}

.advantages__text_2::before{
    position:absolute;
    top: -48px;
    left: -77px;

    content: '2';
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 176px;
    line-height: 111.5%;
    color:rgba(90, 90, 90, 0.1);
}

.advantages__column-3{
    margin-left: 137px;
}

.advantages__text_3{
    width: 278px;
}

.advantages__text_3::before{
    position:absolute;
    top: -48px;
    left: -83px;  

    content: '3';
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 176px;
    line-height: 111.5%;
    color:rgba(90, 90, 90, 0.1);
}