mixin dropdown-navigation(add)
    .dropdown-navigation-pad(class=add) 
        .dropdown-navigation
            .dropdown-navigation__button
                    img(src="./icons/mobile_dropdown_icon.svg", alt="")
            .dropdown-navigation__content
                a(href="#").dropdown-navigation__link  каталог
                a(href="#").dropdown-navigation__link  диваны
                a(href="#").dropdown-navigation__link  кресла
                a(href="#").dropdown-navigation__link  стулья
                a(href="#").dropdown-navigation__link  кровати
                a(href="#").dropdown-navigation__link  матрацы
                a(href="#").dropdown-navigation__link  пуфы
                a(href="#").dropdown-navigation__link  эксклюзивная мебель
                a(href="#").dropdown-navigation__link  2D-3D модели
                a(href="#").dropdown-navigation__link  индивидуальная мебель
                a(href="#").dropdown-navigation__link  2D-3D модели
                a(href="#").dropdown-navigation__link  шоу-рум
                a(href="#").dropdown-navigation__link  страница партнеров дизайнеров
                a(href="#").dropdown-navigation__link  дилерам
                a(href="#").dropdown-navigation__link  контакты
                a(href="#").dropdown-navigation__link  каталог
        .dropdown-navigation__cross
            button.dropdown-navigation__cross-button 
                img(src="./icons/mobile_dropdown_cross.svg", alt="")