mixin history-bg
    .history-bg
        .history-bg__wrapper
            .history-bg__big-rectangle
            .history-bg__small-rectangle
            img.history-bg__image(src="./images/history_pic.jpg", alt="")