$color-white:#FFFFFF;
$color-mine-shaft:#343434;
$color-tree-poppy:#FF9619;
$color-athens-gray:#F2F3F5;
$color-scorpion:#5B5B5B;
$color-alto:#D1D1D1;
$color-rodeo-dust:#CCB2A3;
$color-opal:#A9C2BE;
$color-silver:#C0C0C0;

$font-Raleway:'Raleway';
$font-OpenSans:'OpenSans';

$font-size-main:18px;
$font-size-small:13px;
