footer.main-footer
    .content-wrapper.footer 
        .footer__sign
            .footer__big-p ekmi
        .footer__footer
            .footer__logo
                img.footer__logo-img(src="./icons/logo_footer.png", alt="inscription")  
            .footer__nav-col1
                ul.footer__list
                    li.footer__item Каталог 
                    li.footer__item О компании
                    li.footer__item Индивидуальная Мебель
                    li.footer__item Партнерам Дизайнерам
            .footer__nav-col2
                ul.footer__list
                    li.footer__item 2D, 3D модели
                    li.footer__item Шоу-румы
                    li.footer__item Дилерам
                    li.footer__item Контакты
                    li.footer__item Конфигуратор
            .footer__contacts
                .footer__socials
                    img.footer__ista-icon(src="./icons/insta_icon.png", alt="icon of instagram social media")
                    img.footer__facebook-icon(src="./icons/facebook_icon.png", alt="icon of facebook social media")
        .footer__copyright    
            p.footer__copyright-string © 1993–2021 Интернет-магазин «EKMI™» — меблі