footer.footer
    .footer__wrapper
        .footer__white 
            .content-wrapper
                .footer__sign
                    p.footer__big-p ekmi
        .footer__scorpion
            .content-wrapper
                .lame-pc-wrapper
                   .footer__inner-wrapper
                       .footer__footer
                           a(href="#").footer__logo
                               img.footer__logo-img(src="./icons/logo_footer.png", alt="inscription")  
                           .footer__nav-col
                               ul.footer__list
                                   li.footer__item 
                                       a.footer__link(href="#")  Каталог 
                                   li.footer__item 
                                       a.footer__link(href="#")  О компании
                                   li.footer__item 
                                       a.footer__link(href="#")  Индивидуальная Мебель
                                   li.footer__item 
                                       a.footer__link(href="#")  Партнерам Дизайнерам
                           .footer__nav-col
                               ul.footer__list-c2
                                   li.footer__item-c2
                                       a.footer__link(href="#")  2D, 3D модели
                                   li.footer__item-c2 
                                       a.footer__link(href="#")  Шоу-румы
                                   li.footer__item-c2 
                                       a.footer__link(href="#")  Дилерам
                                   li.footer__item-c2 
                                       a.footer__link(href="#")  Контакты
                                   li.footer__item-c2 
                                       a.footer__link(href="#")  Конфигуратор
                           .footer__contacts
                               .footer__socials
                                   a.footer__insta-link(href="#") 
                                       img.footer__ista-icon(src="./icons/insta_icon.png", alt="icon of instagram social media")
                                   a.footer__facebook-link(href="#") 
                                       img.footer__facebook-icon(src="./icons/facebook_icon.png", alt="icon of facebook social media")
                               p.footer__number +38 (099)-638-45-37
                               button.footer__button.lets-start-button.lets-start-button--alt-font Персональная консультация
                                   .lets-start-button__arrow
                       .footer__copyright    
                           p.footer__copyright-string © 1993–2021 Интернет-магазин «EKMI™» — меблі