.header-content{
    display: flex;

}

.header-content__number{
    font-family: 'Raleway';
    font-weight: 800;
    color:red;
}

.header-content__language-dropdown{
    display: block;
    width: 39px;
    height: 11px;
}