.header-content {
  display: flex;
  min-height: 116px;
}

.header-content__wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
}

.header-content__list {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  column-gap: 15px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header-content__item {
    margin-left: auto;
  }
}

.header-content__item {
  margin-left: 47px;
}

.header-content__item_noml {
  margin-left: 0;
}

.header-content__item_ml-46 {
  margin-left: 46px;
}

.header-content__logo {
  margin-top: 25px;
  margin-left: 3px;
}

.header-content__catalog-dropdown {
  margin-top: 44px;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  display: block;
  max-width: 63px;
  min-height: 27px;
}

.header-content__catalog-dropdown::-ms-expand {
  display: none;
}

.header-content__link {
  display: block;
  margin-top: 48px;
  font-weight: 600;
  font-size: $font-size-small;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.header-content__number {
  margin-top: 49px;
  margin-left: 52px;
  font-family: $font-OpenSans;
  font-size: $font-size-small;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.header-content__select-lang-wrapper {
  margin-left: 50px;
}

.header-content__language-dropdown {
  margin-top: 52px;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  display: block;
  max-width: 39px;
  min-height: 11px;
  font-weight: 600;
  color: rgb(52 52 52 / 70%);
}

.header-content__language-dropdown::-ms-expand {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header-content__item {
    margin-left: auto;
  }

  .header-content__list {
    column-gap: 20px;
  }

  .header-content__wrapper {
    column-gap: 20px;
  }

  .header-content__logo {
    width: 92px;
  }

  .header-content--mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header-content__item {
    margin-left: auto;
  }

  .header-content__list {
    column-gap: 20px;
  }

  .header-content__wrapper {
    column-gap: 20px;
  }

  .header-content__logo {
    width: 92px;
  }

  .header-content--mobile-hide {
    display: none;
  }

  .header-content__mobile-dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
