mixin slider(add)    
    .swiper(class=add)
        .swiper-wrapper
            .swiper-slide
                img(src="images/main_slider_pic1.jpg", alt="").swiper-img
            .swiper-slide
                img(src="images/main_slider_pic2.jpg", alt="").swiper-img
            .swiper-slide
                img(src="images/main_slider_pic3.jpg", alt="").swiper-img
        .swiper-pagination

