@import "./utility/variables";

.lets-start-button {
  display: flex;
  align-items: center;
  padding: 9px 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: $color-white;
  border: none;
  background-color: $color-tree-poppy;
  cursor: pointer;
}

.lets-start-button--hover-scorpion {
  font-weight: 700;
}

.lets-start-button--hover-scorpion:hover {
  background-color: $color-scorpion;
  transition-duration: 0.4s;
}

.lets-start-button--hover-scorpion:focus {
  background-color: $color-scorpion;
  transition-duration: 0.4s;
}

.lets-start-button--alt-font {
  padding: 11px 12px;
  font-family: OpenSans;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: $color-white;
  text-transform: uppercase;
}

.lets-start-button--alt-font::after {
  position: relative;
  margin-left: 16px;
  margin-top: -3px;
  width: 14.45px;
  height: 2px;
  background-color: white;
}

.lets-start-button--OpenSans13px:hover {
  color: $color-tree-poppy;
  background-color: $color-white;
  transition-duration: 0.5s;
}

.lets-start-button--OpenSans13px:focus {
  color: $color-tree-poppy;
  background-color: $color-white;
  transition-duration: 0.5s;
}

.lets-start-button__arrow {
  position: relative;
  margin-left: 16px;
  margin-top: -3px;
  width: 14.45px;
  height: 2px;
  background-color: white;
}

.lets-start-button_arrow:hover {
  color: $color-tree-poppy;
}

.lets-start-button_arrow::after {
  position: relative;
  top: -11px;
  right: -6px;
  content: "";
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 2px;
  transform: rotate(-45deg);
  transform: translateY(-200px);
}

.lets-start-button--mobile{
  display: none;
  order: 3;


}
