.partners
    .partners__header
            .content-wrapper
                h2.partners__heading #[span.partners__first-letter Н]аши партнеры
    .partners__bg
            .content-wrapper
                .partners__body-wrapper
                    .partners__text-wrapper
                        .partners__subheader Компании сотрудничают с нами по всему миру
                        .partners__p На данный момент дилерская сеть фабрики «Экми-Мебель» насчитывает более 30 салонов по всей Украине. Сейчас мы заинтересованы в расширении сети и предлагаем выгодные условия для сотрудничества.<br><br> Основным преимуществом фабрики является изготовление любого индивидуального изделия, мягкой мебели и аксессуаров из наших основных коллекций. Также присутствует линейка оригинальных интерьерных корпусных изделий.
                    img.partners__img(src="./img/partner_img.jpg", alt="")
    .partners__bottom
        .content-wrapper
            .partners__imgs
                img.partners__vogue-img(src="./icons/vogue__logo.png", alt="")
                img.partners__apple-img(src="./icons/apple__logo.png", alt="")
                img.partners__zara-img(src="./icons/zara__logo.png", alt="")
                img.partners__samsung-img(src="./icons/samsung__logo.png", alt="")