.bottom-gallery
    .content-wrapper.bottom-gallery__body
        img(src="./img/bottom_gallery_1.jpg", alt="")
        img(src="./img/bottom_gallery_2.jpg", alt="")
        img(src="./img/bottom_gallery_3.jpg", alt="")
        img(src="./img/bottom_gallery_4.jpg", alt="")