.content-wrapper.novelties
    .novelties__topper
        .novelties__heading #[span.novelties__first-letter Н]овинки
    .swiper-pad
        .novelties-slider-prev
        .swiper-inner-pad
            .swiper.novelties__slider-wrapper
                .swiper-wrapper
                    .swiper-slide
                        +main-furniture-item-mixin('./items/Alba_newbie.png','Alba','15 000')
                    .swiper-slide
                        +main-furniture-item-mixin('./items/Martin.png','Martin','15 000')
                    .swiper-slide
                        +main-furniture-item-mixin('./items/Luara.png','Luara','15 000')
        .novelties-slider-next

    .swiper-pad.novelties__mobile-carousel.novelties--mobile-show-flex
        .novelties-slider-prev  
        .swiper-inner-pad
            .swiper.novelties__slider-wrapper
                .swiper-wrapper
                    .swiper-slide
                        +main-furniture-item-mixin('./items/Martin.png','Martin','15 000')
                    .swiper-slide
                        +main-furniture-item-mixin('./items/Alba_newbie.png','Alba','15 000')  
                    .swiper-slide
                        +main-furniture-item-mixin('./items/Luara.png','Luara','15 000')
        .novelties-slider-next

            

    .novelties__button-row
        .novelties__button.lets-start-button.lets-start-button--hover-scorpion перейти в каталог