.history {
  margin-top: 153px;
  min-height: 818px;

}

.history__heading {
  font-weight: 600;
  font-size: 35px;
  line-height: 150%;
  color: $color-mine-shaft;
}

.history__first-letter {
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  color: $color-tree-poppy
}

.history__subheader {
  margin-top: 124px;
  margin-left: 41px;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: .1em;
  color: $color-white;
}


.history__p {
  margin-top: 24px;
  margin-left: 42px;
  max-width: 454px;
  width: 100%;
  font-weight: 300;
  line-height: 132%;
  letter-spacing: .099em;
  color: $color-white;
}

.history__timeline {
  margin-top: 328px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.history__first-date {
  flex-shrink: 2;
  font-weight: 300;
  font-size: 25px;
  line-height: 127.5%;
  color: $color-mine-shaft;
}

.history__middle-date {
  flex-shrink: 1;
  margin-left: 295px;
  font-weight: 600;
  font-size: 144px;
  line-height: 150%;
  color: rgb(52 52 52 / 10%);
}

.history__last-date {
  flex-shrink: 2;
  margin-left: 315px;
  font-weight: 300;
  font-size: 25px;
  line-height: 127.5%;
  color: $color-mine-shaft;
}

.history--mobile-show{
  display: none;
}


@media screen and (min-width:320px) and (max-width:768px) {
  
  .history{
    min-height: 736px;
    margin-top: 95px;
    
  }

  .history_bg{
    min-height: 254px;
    background: url(../../backgrounds/history_mobile_bg.jpg) no-repeat;
    margin-top: 33px;
    padding-top: 50px;
  }
  .history__heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: $color-mine-shaft;
    margin-left: 19px;
  }
  
  .history__first-letter {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $color-tree-poppy
  }

  .history__subheader{
    font-size: 16px;
    margin-left: 19px;
    margin-top:0px;
  }

  .history__p{
    line-height: 135%;
    font-size: 14px;
    max-width: 340px;
    margin-top: 10px;
    margin-left: 18px;
  }

  .history__middle-date{
    font-size: 111px;
    margin: 0 auto;
  }

  .history__mobile-timeline{
    display: flex;
    margin-left: 19px;
    margin-right: 19px;
    justify-content: space-between;
  }

  .history--mobile-hide{
    display: none;
  }
  .history__img-wrapper{
    margin-top: 49px;
    display: flex;
    justify-content: center;
  }

  .history__timeline{
    margin-top: 60px;
  }

  .history__image{
    width: 339;
    height: 233;
  }


}