.history {
  margin-top: 153px;
  min-height: 818px;

}

.history__heading {
  font-weight: 600;
  font-size: 35px;
  line-height: 150%;
  color: $color-mine-shaft;
}

.history__first-letter {
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  color: $color-tree-poppy
}

.history__subheader {
  margin-top: 124px;
  margin-left: 41px;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: .1em;
  color: $color-white;
}


.history__p {
  margin-top: 24px;
  margin-left: 42px;
  max-width: 454px;
  width: 100%;
  font-weight: 300;
  line-height: 132%;
  letter-spacing: .099em;
  color: $color-white;
}

.history__timeline {
  margin-top: 328px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.history__first-date {
  flex-shrink: 2;
  font-weight: 300;
  font-size: 25px;
  line-height: 127.5%;
  color: $color-mine-shaft;
}

.history__middle-date {
  flex-shrink: 1;
  margin-left: 295px;
  font-weight: 600;
  font-size: 144px;
  line-height: 150%;
  color: rgb(52 52 52 / 10%);
}

.history__last-date {
  flex-shrink: 2;
  margin-left: 315px;
  font-weight: 300;
  font-size: 25px;
  line-height: 127.5%;
  color: $color-mine-shaft;
}