.questions-section {
  min-height: 479px;
  background-color: $color-opal;
}

.questions-section__body {
  position: relative;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.question-section__question-form {
  position: relative;
  right: 70px;
}
