.content-wrapper.history
    +history-bg
    .history__heading #[span.history__first-letter Н]аша история
    .history__subheader Наработки длинной в 25 лет
    .history__p Каждый производитель заявляет, что делает все для своих покупателей, но не каждый производитель способен подтвердить свои заявления многолетней историей
    .history__timeline
        p.history__first-date 1993  
        p.history__middle-date 25 лет
        p.history__last-date 2021