.publications
    .content-wrapper
        .publications__heading  #[span.publications__first-letter П]оследние публикации
        .publications__gallery
            button.publications__slider-left-arrow
                img.publications__arrow-left(src="./icons/last_publications_arrow.svg", alt="")
            .publications__images-wrapper
                +main-furniture-item-mixin('./items/Martin.png','martin')
                +main-furniture-item-mixin('./items/Alba.png','alba')
                +main-furniture-item-mixin('./items/Toscana.png','toscana')
                +main-furniture-item-mixin('./items/Leonardo.png','leonardo')
            button.publications__slider-right-arrow
                img.publications__arrow-right(src="./icons/last_publications_arrow.svg", alt="")


