.content-wrapper   
    .publications
        .publications__heading  #[span.publications__first-letter П]оследние публикации
        .publications__gallery
            .publications__slider-left-arrow.publications--mobile-hide
            .publications__slider-pad    
                .swiper.publications__slider-wrapper
                    .swiper-wrapper
                        .swiper-slide
                            +main-furniture-item-mixin('./items/Martin.png','martin')
                        .swiper-slide
                            +main-furniture-item-mixin('./items/Alba.png','alba')
                        .swiper-slide
                            +main-furniture-item-mixin('./items/Toscana.png','toscana')
                        .swiper-slide
                            +main-furniture-item-mixin('./items/Leonardo.png','leonardo')
                    .swiper-scrollbar
            .publications__slider-right-arrow.publications--mobile-hide


            


