doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/utility/variables.scss")
        link(rel="stylesheet", href="./pug/layouts/layout-main-styles.scss")
        link(rel="stylesheet", href="./pug/includes/main-header/styles/header.scss")
        block additional-style
    body
        block header
            include /pug/includes/main-header/main-header.pug
            p 123
        block UnExpectedName
            p haha   