include \..\mixins\main-furniture-item-mixin\main-furniture-item-mixin.pug
include \..\mixins\history-bg\history-bg-mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./pug/layouts/main-style.scss")
        block additional-style
    body
        .lame-pc-wrapper
            block header
                include /pug/includes/main-header/main-header.pug
                include /pug/includes/main-top-section/main-top-section.pug
            block body
            block footer
                include /pug/includes/main-footer/main-footer.pug