@import "../../styles/utility/variables";

@import "../../styles/utility/fonts";

@import "../../styles/utility/visually-hidden";

@import "../../styles/utility/content-wrapper";

@import "../../styles/utility/lame-pc-wrapper";

@import "../../styles/lets-start-button";

@import "../mixins/main-furniture-item-mixin/styles/main-furniture-item-mixin";

@import "../mixins/history-bg/styles/history-bg-mixin";

@import "../../pug/includes/main-header/styles/header-content";

@import "../includes/main-footer/styles/main-footer";

@import "../includes/main-top-section/styles/life-content";

@import "../includes/novelties/styles/novelties";

@import "../includes/individual/styles/individual";

@import "../includes/history/styles/history";

@import "../includes/last-publications/styles/last-publications";

@import "../includes/questions/styles/questions-section";

@import "../includes/advantages/styles/advantages";

@import "../includes/partners/styles/partners";

@import "../includes/bottom-gallery/styles/bottom-gallery";

@import "../mixins/question-form-mixin/styles/question-form-mixin.scss";

@import "../includes/modal-window/styles/modal-window.scss";

*,
*::before,
*::after {
  font-family: $font-Raleway;
  font-weight: 500;
  font-size: $font-size-main;
  color: $color-mine-shaft;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
