.questions-section
    .content-wrapper.questions-section__body
        img.questions-section__bg-img.question-section_mobile-hide(src="./backgrounds/questions_bg.jpg", alt="")
        +question-form-mixin('question-section__question-form')
        