.novelties {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.novelties__heading {
  font-weight: 700;
  font-size: 35px;
  line-height: 110%;
}

.swiper-pad {
  display: flex;
  justify-content: flex-start;
  padding-left: 51px;
  //max-width: 1063px;
}

.novelties-slider-next::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 30px;
  margin-top: 203px;
  margin-left: 30px;
  background: url(/src/icons/grey_arrow_right.svg) no-repeat;
}

.novelties-slider-prev::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 30px;
  margin-top: 203px;
  background: url(/src/icons/grey_arrow.svg) no-repeat;
}

.swiper-inner-pad {
  max-width: 970px;
  margin-left: 29px;
}

.novelties__first-letter {
  font-weight: 700;
  font-size: 35px;
  line-height: 110%;
  color: $color-tree-poppy;
}

.novelties__slider-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  //flex-basis: content;
  //max-width: 1018px;
}

.novelties__slider-left-arrow {
  border: none;
  background-color: $color-white;
  cursor: pointer;
}

.novelties__left-arrow {
  margin-top: 122px;
  margin-left: 54px;
}

.novelties__slider-images {
  margin-left: 24px;
  display: flex;
  column-gap: 80px;
}

.novelties__slider-right-arrow {
  border: none;
  background-color: $color-white;
  cursor: pointer;
}

.novelties__right-arrow {
  margin-top: 122px;
  margin-left: 33px;
  transform: rotate(180deg);
}

.novelties__button-row {
  margin-top: 59px;
  display: flex;
  justify-content: center;
}
