.individual
    .individual__body
        img.individual__img(src="./images/individual_pic.png", alt="")
        .individual__text-wrapper
            .individual__dec-subtitle furniture
            h2.individual__heading #[span.individual__first-letter И]ндивидуальная мебель
            .individual__cicle Полный цикл производства.
            .individual__p Качество мягкой мебели начинается задолго до начала ее производства.
            button.individual__buttton.lets-start-button.individual--mobile-hide Индивидуальная мебель
        button.individual__buttton.lets-start-button.individual--mobile-show Индивидуальная мебель