extends /pug/layouts/layout-main.pug
block body
        include /pug/includes/novelties/novelties.pug
        include /pug/includes/individual/individual.pug
        include /pug/includes/history/history.pug
        include /pug/includes/last-publications/last-publications.pug
        include /pug/includes/questions/questions-section.pug
        include /pug/includes/advantages/advantages.pug
        include /pug/includes/partners/partners.pug
        include \pug\includes\bottom-gallery\bottom-gallery.pug
        script(src='./pug/mixins/slider-mixin/slider-mixin.js' type="module")
        