extends /pug/layouts/layout-main.pug
block body
        include /pug/includes/novelties-section/novelties.pug
        include /pug/includes/individual-furniture-section/individual.pug
        include /pug/includes/our-history-section/history.pug
        include /pug/includes/last-publications/last-publications.pug
        include /pug/includes/questions-section/questions.pug