.swiper-test {
  width: 800px;
  overflow: hidden;
}

.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.swiper-two {
  background-color: red;
}

.swiper-three {
  background-color: orange;
}
