.history-bg__wrapper {
  position: relative;
}

.history-bg__big-rectangle {
  position: absolute;
  top: 124px;
  width: 538px;
  height: 247px;
  background-color: $color-scorpion;
  z-index: -2;
}

.history-bg__small-rectangle {
  position: absolute;
  top: 344px;
  left: 368px;
  width: 101px;
  height: 55px;
  background-color: $color-tree-poppy;
  z-index: -1;

}

img.history-bg__image {
  position: absolute;
  top: 57px;
  left: 370px;
  z-index: -3;
}

@media screen and (min-width:320px) and (max-width:768px) {
  .history-bg{
    display: none;
  }
}

